/** ALL **/
* {
  all: unset;
  font-family: FiraCode Nerd Font;
  font-family: MesloLG Nerd Font;
}

/** General **/
.bar_class {
  background-color: #0f0f17;
  border-radius: 16px;
}

.right {
  margin: 10px;
}

.time {
  font-size: 20px;
}
